a {
  color: #d50000;
}

.forum-table td {
  border-bottom: solid 1px #bdbdbd;
}
.forum-card {
  padding: 0px;
  border: solid 1px #bdbdbd;
}

.table-header {
  padding: 4px;
  border-bottom: solid 2px #d50000;
}

.action-bar {
  height: 60px;
}

.home-last-post-date {
  font-size: 12px;
  color: #616161;
}

.home-last-post-td {
  width: 220px;
}

.home-count-td {
  width: 100px;
  font-size: 13px;
  color: #616161;
}

.home-forum-description {
  font-size: 13px;
}
