<template name="home">
  {{#each sections}}
    <div class="card forum-card grey lighten-4">
      <div class="table-header grey darken-4 grey-text text-lighten-2">
        {{this.title}}
      </div>
      <table class="forum-table">
        <tbody>
          {{#each forums this._id}}
            <tr>
              <td>
                <a href="/forum/{{this.slug}}">{{this.title}}</a><br>
                <div class="home-forum-description">{{this.description}}</div>
              </td>
              <td class="home-count-td">
                <div>{{this.threadCount}} {{rightForm "thread" this.threadCount}}</div>
                <div>{{this.postCount}} {{rightForm "post" this.postCount}}</div>
              </td>
              <td class="home-last-post-td">
                {{#if this.lastPostThreadId}}
                <div><a href="/forum/{{this.slug}}/{{this.lastPostThreadSlug}}">{{this.lastPostThreadTitle}}</a></div>
                <div class="home-last-post-date">
                  {{formatDate this.lastPostDate}}, by
                  <a href="/users/{{this.lastPostAuthor}}">{{this.lastPostAuthor}}</a>
                </div>
                {{else}}
                  None
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}
</template>
