<template name="home">
  {{> loginButtons}}
  Home!<br>
  Title: {{title}}<br>
  Description: {{description}}

  {{#each sections}}
    <table>
      <thead>
        <tr>
          <th>{{this.title}}</th>
          <th>Threads</th>
          <th>Posts</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {{#each forums this._id}}
          <tr>
            <td>
              <a href="/forum/{{this._id}}">{{this.title}}</a><br>
              {{this.description}}
            </td>
            <td>Threads</td>
            <td>Posts</td>
            <td>LastPost</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</template>
