<template name="forum">
  <div class="action-bar">
    <div class="forum-nav">
      <a href="/">Home</a> > <a href="{{this._id}}">{{this.title}}</a>
    </div>
    <button class="new-thread waves-effect waves-light btn">New Thread</button>
  </div>
  <div class="card forum-card grey lighten-4">
    <div class="table-header grey darken-4 grey-text text-lighten-2">
      {{this.title}}
    </div>
    <table class="forum-table">
      <tbody>
        {{#each threads}}
          <tr>
            <td><a href="/forum/{{../_id}}/{{this._id}}">{{this.title}}</a></td>
            <td>
              {{this.postCount}} {{rightForm "post" this.postCount}}<br>
              {{this.viewCount}} {{rightForm "view" this.viewCount}}
            </td>
            <td>{{this.lastPost}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
