<template name="forum">
  {{#if currentUser}}
    <div>
      <button class="new-thread waves-effect waves-light btn">New Thread</button>
    </div>
  {{/if}}
  <div class="card forum-card grey lighten-4">
    <div class="table-header grey darken-4 grey-text text-lighten-2">
      {{forum.title}}
    </div>
    <table class="forum-table">
      <tbody>
        {{#each threads}}
          <tr>
            <td>
              <div><a href="/forum/{{forum.slug}}/{{this.slug}}">{{this.title}}</a></div>
              <div class="thread-info">Started by <a href="/users/{{author}}">{{author}}</a>, {{formatDate this.date}}</div>
            </td>
            <td>
              <div class="thread-info">{{this.postCount}} {{rightForm "post" this.postCount}}</div>
              <div class="thread-info">{{this.viewCount}} {{rightForm "view" this.viewCount}}</div>
            </td>
            <td>
              {{#if lastPostExists}}
                <div><a href="/users/{{this.lastPostAuthor}}">{{this.lastPostAuthor}}</a></div>
                <div class="thread-info">{{formatDate this.lastPostDate}}</div>
              {{else}}
                <div class="thread-info">none</div>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
