<template name="layout">
  {{#if statusInstall}}
    Meteor Forum has not been installed yet.
  {{else}}
    <body>
      <div class="container main-container">
        <nav class="grey darken-4" role="navigation">
          <a id="logo-container" href="/" class="brand-logo grey-text text-lighten-1">{{system.title}}</a>
          <!--<ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>-->
        </nav>
        <div class="card login-register-card">
          <div class="login-register-container">
            <div class="row">
              <div class="col s6">
                <button id="login-button" class="col s12 waves-effect waves-light btn">Login</button>
              </div>
              <div class="col s6">
              <button id="register-button" class="col s12 waves-effect waves-light btn">Register</button>
              </div>
            </div>
          </div>
        </div>
        <div id="login-panel" class="card blue-grey">
          {{> loginForm}}
        </div>
        <div id="register-panel" class="card blue-grey">
          {{> registerForm}}
        </div>
        <div class="card forum-container-card">
          <div class="forum-container">
            <div>{{> loginButtons}}</div>
            {{> yield}}
          </div>
        </div>
      </div>
    </body>
  {{/if}}
</template>
