<template name="registerForm">
  <div class="container">
      <form id="register-form" class="white-text">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="username" id="register-username">
            <label for="register-username" class="white-text">username</label>
          </div>
          <div class="input-field col s12 white-text">
            <input type="password" name="password" id="register-password">
            <label for="register-password" class="white-text">password</label>
          </div>
          <div class="input-field col s12 white-text">
            <input type="password" name="confirmPassword" id="register-confirm-password">
            <label for="register-confirm-password" class="white-text">confirm password</label>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="waves-effect waves-light btn">submit</button>
          </div>
        </div>
      </form>
  </div>
</template>
